.intro_header_logo{
    margin: 2rem 0; font-family: 'Maven Pro', sans-serif;
}
.intro_header_buttons{
    margin-bottom: 2rem;
}
.outro_footer_logo{
    margin:1.5rem 0; font-family: 'Maven Pro', sans-serif;
}
.outro_footer_buttons{
    margin-top:1.5rem;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}